<div class="alert alert-primary" role="alert">
    <h1>Usuários</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Fulano</th>
            <td>Umuarama</td>
            <td>Paraná</td>
            <td>
                <a href="/edit_usuarios" class="btn btn-warning rounded-circle">
                    <i class="bi bi-pencil"></i>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-danger rounded-circle">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="fixed-bottom mb-5 d-flex flex-row-reverse bd-highlight">
    <a href="/add_usuarios" class="btn-lg btn-primary float-right rounded-circle"
        style="margin-bottom: 2em; margin-right: 2em;">
        <i class="bi bi-patch-plus"></i>
    </a>
</div>